{% extends "admin_header.html"  %}
{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
    <style>
        .container
        {
        border:solid;
        padding:20px;
        margin-top:50px;
        }
    </style>
</head>
<body>

<div class="container">
    <h2>Category List</h2>
    <br>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">plantName</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">price</th>
      <th scope="col">discont</th>
      <th scope="col">categoryName</th>
      <th scope="col">location</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
  {% for row in value %}
    <tr>
      <th scope="row">{{ row[0] }}</th>
      <td><input type="text" name="" value="{{ row[1] }}" class="form-control" placeholder="Enter name"> </td>
        <td><input type="text" name="" value="{{ row[2] }}" class="form-control" placeholder="Enter Image"> </td>
        <td><input type="text" name="" value="{{ row[3] }}" class="form-control" placeholder="Enter Description"> </td>
         <td><input type="text" name="" value="{{ row[1] }}" class="form-control" placeholder="Enter price"> </td>
        <td><input type="text" name="" value="{{ row[2] }}" class="form-control" placeholder="Enter disconut"> </td>
        <td><input type="text" name="" value="{{ row[3] }}" class="form-control" placeholder="Enter categoryname"> </td>
        <td><input type="text" name="" value="{{ row[3] }}" class="form-control" placeholder="Enter location"> </td>


        <td><input type="submit" name="" class="btn btn-success" value="Update"></td>
        <form action="{{ url_for('delete_category') }}" method="POST">
        <input type="hidden" name="cid" value="{{ row[0] }}">
        <td><input type="submit" name="" class="btn btn-danger" value="Delete"></td>
            </form>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

</body>
</html>
{% endblock %}